# Media / V4L2
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_VIDEO_DEV=m
CONFIG_VIDEO_V4L2_SUBDEV_API=y

# Intel IPU6
CONFIG_VIDEO_INTEL_IPU6=m
CONFIG_IPU_BRIDGE=m

# Intel camera power / ACPI support
CONFIG_INTEL_SKL_INT3472=m

# Intel Visual Sensing Controller
CONFIG_INTEL_MEI_VSC_HW=m
CONFIG_INTEL_MEI_VSC=m

# LJCA bridge
CONFIG_MFD_LJCA=m
CONFIG_USB_LJCA=m
CONFIG_GPIO_LJCA=m
CONFIG_I2C_LJCA=m
CONFIG_SPI_LJCA=m
