[Unit]
Description=Install shared Miniforge3 runtime
Requires=sudoagi-data-init.service
After=sudoagi-data-init.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/miniforge3/install-miniforge3

[Install]
WantedBy=multi-user.target
